@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", monospace;
  --color-neon-green: #00ff41;
  --color-neon-yellow: #f3f906;
}

:root {
  font-family: var(--font-mono);
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  background-color: #000000;
  color: #ffffff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
